html {
	background-image:
		url("https://thechive.files.wordpress.com/2012/10/hurricane-guard-unknown-tomb-920-6.jpg?quality=85&strip=info&w=920");
	background-size: cover;
}

li {
	color: green;
}

label {
	color: green;
}