body {
	background-image: url("../images/background.jpg");
	background-size: cover;
}

h1 {
	text-align: center;	
}

.info {
	font-weight: bold;
	color: #cccccc;
}

#headline {
	color: white;
}

.standard {
	color: white;
}

.black {
	color: black;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.btn-arrow-right,
.btn-arrow-left {
	position: relative;
	
}

li {
	list-style-type: none;
}

.resize {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}
